<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts :: head(title='Products')">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
    </head>
    <body>
        <nav th:replace="layouts :: navbar"></nav>

        <div class="container">
            <form th:action="@{'/products/edit_save/' + *{productId}}" method="POST" th:object="${anything}">
              <fieldset>
                <h4>Edit Product</h4>
                <hr class="mb-4" />
                <div class="mb-3">
                  <label class="form-label">ID </label>
                  <p th:text="*{productId}"></p>

                  <label class="form-label">Name</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Product Name"
                    th:field="*{productName}"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Price</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Enter Product Price"
                    th:field="*{productPrice}"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Category</label>
                  <br>
                  <select id="categoryId" name="categoryId">
                    <option th:each="category : ${product_categories}" th:value="${category.categoryId}" th:selected="${category.categoryId} == *{productCategoryId}" th:inline="text">[[${category.categoryName}]]</option>
                  </select>
                </div>
                <div class="mb-3">
                  <!-- person in charge -->
                  <label class="form-label">PIC</label>
                  <br>
                  <select id="employeeId" name="employeeId">
                    <option th:each="employee : ${employees}" th:value="${employee.employeeId}" th:selected="${employee.employeeId}==*{productEmployeeId}" th:inline="text">[[${employee.fullName}]]</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Save Product</button>
              </fieldset>
            </form>
          </div>
    </body>

</html>