<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts :: head(title='Products')">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
    </head>
    <body>
        <nav th:replace="layouts :: navbar"></nav>

        <div class="container">
            <form action="/products/save" id="productForm" method="POST" th:object="${anything}" onSubmit="return check()">
              <fieldset>
                <h4>New Product</h4>
                <hr class="mb-4" />
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    id="name"
                    class="form-control"
                    type="text"
                    placeholder="Product Name"
                    th:field="*{productName}"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Price</label>
                  <input
                    id="price"
                    class="form-control"
                    type="number"
                    placeholder="Enter Product Price"
                    th:field="*{productPrice}"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Category</label>
                  <br>
                  <select id="categoryId" name="categoryId">
                    <option th:each="category : ${product_categories}" th:value="${category.categoryId}" th:selected="${category.categoryId == id}" th:inline="text">[[${category.categoryName}]]</option>
                  </select>
                </div>
                <div class="mb-3">
                  <!-- person in charge -->
                  <label class="form-label">PIC</label>
                  <br>
                  <select id="employeeId" name="employeeId">
                    <option th:each="employee : ${employees}" th:value="${employee.employeeId}" th:selected="${employee.employeeId == id}" th:inline="text">[[${employee.fullName}]]</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Product</button>
              </fieldset>
            </form>
          </div>
    </body>

    <script language="JavaScript">
      function check() {
          if(document.forms.productForm.name.value == "" || document.forms.productForm.name.value == null) {
              alert("Please input product name");
              return false;
          }
          if(document.forms.productForm.price.value == "" || document.forms.productForm.price.value == null) {
              alert("Please input price");
              return false;
          }
          
      }
  </script>
</html>