<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head(title='Clients')">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav th:replace="layouts :: navbar"></nav>
    <h4>Client List</h4>
    <br />
    <a th:href="@{/clients/new}" class="btn btn-primary btn-sm mb-3"
      >New Client</a
    >
    <!-- <a href="/clients/clients_new">New Client</a> -->
    <hr />
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>Company Name</th>
        <th>Contact Person Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Department</th>
        <th>Position</th>
        <th>Notes</th>
      </thead>
      <tbody>
        <tr th:each="field:${clientList}">
          <td th:text="${field.companyName}"></td>
          <td th:text="${field.contactPerson}"></td>
          <td th:text="${field.phoneNumber}"></td>
          <td th:text="${field.emailAddress}"></td>
          <td th:text="${field.department}"></td>
          <td th:text="${field.position}"></td>
          <td th:text="${field.notes}"></td>
          <td>
            <a
              th:href="@{'/clients/edit/' + ${field.clientId}}"
              class="btn btn-primary btn-sm mb-3"
              >Edit</a
            >
          </td>
          <td>
            <a
              th:href="@{'/clients/delete/' + ${field.clientId}}"
              onclick="return confirm('Are you sure to delete?')"
              class="btn btn-primary btn-sm mb-3"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
