<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: head">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>

    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      th:fragment="navbar"
    >
      <a class="navbar-brand" href="/employees">IHAI co.</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/employees">Employees</a>
          <a class="nav-item nav-link" href="/clients">Clients</a>
          <a class="nav-item nav-link" href="/products">Products</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <form action="/employees/save" method="POST" th:object="${employees}">
        <fieldset>
          <legend>New Employee</legend>
          <hr class="mb-4" />
          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input
              class="form-control"
              type="text"
              placeholder="Full Name"
              th:field="*{fullName}"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Birthday</label>
            <input
              class="form-control"
              type="text"
              placeholder="Birthday"
              th:field="*{birthday}"
            />
          </div>

          <button type="submit" class="btn btn-primary">Create Employee</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
